.e-h1 {
    font-size: 3.5rem;
    line-height: 1.07;
    font-weight: 600
}

.e-h2 {
    font-size: 3rem;
    line-height: 1.085;
    font-weight: 600
}

.e-h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600
}

.e-h4 {
    font-size: 1.125rem;
    line-height: 1.25;
    font-weight: 600
}

.e-body {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400
}

.e-small {
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 500
}

.e-subtitle-large {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400
}

.e-subtitle-small {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400
}

.e-caps {
    font-size: .875rem;
    line-height: 1.25;
    font-weight: 700;
    text-transform: capitalize
}

@media(max-width:1023px) {
    .e-h1 {
        font-size: 2.75rem;
        line-height: 1.1
    }

    .e-h2 {
        font-size: 2.25rem;
        line-height: 1.125;
        font-weight: 600
    }

    .e-subtitle-large {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 400
    }

    .e-subtitle-small {
        font-size: 1rem;
        font-weight: 400
    }
}







.painted-reviews .review {
    padding-top: 36px;
    padding-bottom: 24px;
    padding-left: 26px;
    padding-right: 26px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 12px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.painted-reviews .review .review-stars {
    width: 57px;
    height: auto;
    margin-bottom: 6px
}

.painted-reviews .review .review-text {
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin-bottom: 6px
}

.painted-reviews .review .review-text.desktop-text {
    display: none
}

.painted-reviews .review .review-name {
    font-size: 10.5px;
    display: block
}

.painted-reviews .review .image-wrapper {
    position: absolute;
    right: -10px;
    bottom: -12px;
    display: block;
    width: 64px
}

.painted-reviews.gem-70 .review:nth-of-type(1) {
    background-image: url(https://envoy.com/images/components/painted-reviews/gem-70-paint-bg-1.svg)
}

.painted-reviews.gem-70 .review:nth-of-type(2) {
    background-image: url(https://envoy.com/images/components/painted-reviews/gem-70-paint-bg-2.svg)
}

.painted-reviews.gem-70 .review:nth-of-type(3) {
    background-image: url(https://envoy.com/images/components/painted-reviews/gem-70-paint-bg-3.svg)
}

.painted-reviews.cilantro-40 .review:nth-of-type(1) {
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-1.svg)
}

.painted-reviews.cilantro-40 .review:nth-of-type(2) {
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-2.svg)
}

.painted-reviews.cilantro-40 .review:nth-of-type(3) {
    background-image: url(https://envoy.com/images/components/painted-reviews/cilantro-40-paint-bg-3.svg)
}

@media(min-width:768px) {
    .painted-reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center
    }

    .painted-reviews .review {
        width: 48%;
        align-self: flex-start;
        max-width: none;
        margin-left: 0;
        margin-right: 0
    }

    .painted-reviews .review:nth-of-type(2) {
        order: 4;
        align-self: flex-end
    }

    .painted-reviews .review .image-wrapper {
        right: -12px;
        bottom: -24px
    }
}

@media(min-width:1024px) {
    .painted-reviews .review {
        width: 48%;
        margin-bottom: 24px;
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 48px;
        padding-right: 20px
    }

    .painted-reviews .review .review-stars {
        width: 122px;
        margin-bottom: 12px
    }

    .painted-reviews .review .review-text {
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 400
    }

    .painted-reviews .review .review-text.mobile-text {
        display: none
    }

    .painted-reviews .review .review-text.desktop-text {
        display: block
    }

    .painted-reviews .review .review-name {
        font-size: 1.125rem;
        line-height: 1.25;
        font-weight: 600
    }

    .painted-reviews .review .image-wrapper {
        right: -24px;
        bottom: -24px;
        width: 96px
    }
}

@media(min-width:1280px) {
    .painted-reviews .review .image-wrapper {
        right: -32px;
        bottom: -32px;
        width: 128px
    }
}

.painted-reviews .review .review-text {
    font-size: 14px
}

@media(max-width:400px) {
    .painted-reviews .review .review-text {
        font-size: 13px
    }
}

@media(min-width:768px) {
    .painted-reviews .review {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .painted-reviews .review .review-text {
        font-size: 16px
    }

    .painted-reviews .review .review-name {
        font-size: 18px;
        font-weight: 400
    }
}

@media(min-width:1280px) {
    .painted-reviews .review {
        padding-right: 40px;
    }
}








/* header  */



#header-section {
    background-color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 128px;
    background-image: url(https://envoy.com/images/jobs/hero-mobile.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 104px
}

#header-section .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px
}

#header-section .heading {
    color: #3f4450;
    margin-bottom: .75rem;
    font-size: 2.75rem;
    line-height: 1.1
}

#header-section .subheading {
    color: #717684;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400
}

#header-section .btn-red {
    display: inline-block
}

#header-section .btn-red span {
    display: inline-block
}

#header-section .btn-red span.arrow {
    margin-left: 4px;
    font-size: 20px;
    position: relative;
    top: 2px
}

@media(min-width:480px) {
    #header-section {
        padding-bottom: 312px;
        background-size: 102% auto
    }

    #header-section .content-wrapper {
        max-width: 507px
    }

    #header-section .heading {
        font-size: 3.5rem;
        line-height: 1.07;
        font-weight: 600
    }

    #header-section .subheading {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 400;
        max-width: 455px
    }
}

@media(min-width:1024px) {
    #header-section {
        background-size: auto 280px
    }
}

@media(min-width:1280px) {
    #header-section {
        padding-top: 8rem;
        padding-bottom: 10rem;
        background-image: url(https://envoy.com/images/jobs/hero-desktop.svg);
        background-position: bottom center;
        background-size: auto 563px
    }
}






/* life at envoy  */



#life-at-envoy-wrapper {
    background-color: #f6f6f9
}

#life-at-envoy-wrapper .slide-icon-wrapper {
    background-color: #fff;
    padding: .25rem;
    border-radius: 9999px;
    display: inline-block;
    width: 24px
}

#life-at-envoy-wrapper .slide-text h3 {
    color: #3f4450
}

@media(min-width:768px) {
    #life-at-envoy-wrapper {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    #life-at-envoy-wrapper .slide-image-wrapper {
        position: relative;
        align-items: center;
        top: -50px
    }

    #life-at-envoy-wrapper .slide-image {
        top: auto;
        bottom: auto;
        max-width: 540px
    }
}

@media(min-width:1024px) {
    #life-at-envoy-wrapper {
        padding-top: 7rem;
        padding-bottom: 7rem
    }

    #life-at-envoy-wrapper .slide-image-wrapper {
        top: -100px
    }

    #life-at-envoy-wrapper .slide-image {
        top: 0
    }
}









/* by the number */




#by-the-numbers {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: -12px
}

#by-the-numbers .introduction-wrapper {
    margin-bottom: 2rem
}

#by-the-numbers .heading {
    color: #3f4450;
    margin-bottom: .5rem;
    font-size: 2.25rem;
    line-height: 1.125;
    font-weight: 600
}

#by-the-numbers .subheading {
    color: #717684;
    font-size: 1rem;
    font-weight: 400
}

#by-the-numbers .stats-wrapper .stat-wrapper {
    margin-bottom: 2rem;
    text-align: right
}

#by-the-numbers .stats-wrapper .stat-wrapper:last-of-type {
    margin-bottom: 0
}

#by-the-numbers .stats-wrapper .stat-wrapper .number {
    color: #21944e;
    display: block;
    font-size: 80px;
    line-height: 1em;
    font-weight: 600
}

#by-the-numbers .stats-wrapper .stat-wrapper .text {
    color: #5c6270;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    display: block
}

@media(min-width:480px) {
    #by-the-numbers .container {
        background-image: url(https://envoy.com/images/section-backgrounds/freckles-white.svg);
        background-repeat: no-repeat;
        background-position: left calc(-552px + 50vw) bottom;
        background-size: 388px auto
    }
}

@media(min-width:768px) {
    #by-the-numbers {
        padding-top: 5rem;
        padding-bottom: 6rem;
        margin-top: -24px
    }

    #by-the-numbers .introduction-wrapper {
        width: 500px
    }

    #by-the-numbers .heading {
        font-size: 3rem;
        line-height: 1.085;
        font-weight: 600
    }

    #by-the-numbers .subheading {
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 400
    }

    #by-the-numbers .stats-wrapper .stat-wrapper {
        margin-bottom: 5rem;
        display: flex;
        align-items: flex-end;
        flex-direction: column
    }

    #by-the-numbers .stats-wrapper .stat-wrapper:nth-child(2) {
        position: relative;
        right: 100px
    }

    #by-the-numbers .stats-wrapper .stat-wrapper .number {
        font-size: 128px
    }

    #by-the-numbers .stats-wrapper .stat-wrapper .text {
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 400
    }

    #by-the-numbers .stats-wrapper .stat-wrapper:last-of-type .text {
        max-width: 440px
    }
}

@media(min-width:1024px) {
    #by-the-numbers {
        padding-top: 6rem;
        padding-bottom: 7rem
    }

    #by-the-numbers .container {
        display: flex;
        justify-content: space-between;
        background-position: left bottom
    }

    #by-the-numbers .stats-wrapper {
        padding-top: 50px;
        width: 600px;
        margin-right: 100px
    }
}







/* get to know  */



#get-to-know {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    overflow-x: hidden
}

#get-to-know .introduction-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 380px;
    text-align: center
}

#get-to-know .introduction-wrapper .heading {
    color: #3f4450;
    margin-bottom: .5rem;
    font-size: 2.25rem;
    line-height: 1.125;
    font-weight: 600
}

#get-to-know .introduction-wrapper .subheading {
    color: #717684;
    font-size: 1rem;
    font-weight: 400
}

#get-to-know .painted-reviews {
    margin-bottom: 1.5rem
}

#get-to-know .images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

#get-to-know .images-wrapper .image-wrapper {
    max-width: 100%
}

#get-to-know .images-wrapper .image-wrapper:nth-of-type(1) {
    max-width: 233px
}

#get-to-know .images-wrapper .image-wrapper:nth-of-type(2) {
    width: 435px;
    max-width: 435px;
    position: relative
}

@media(min-width:460px) {
    #get-to-know .images-wrapper .image-wrapper:nth-of-type(2) {
        left: auto
    }
}

@media(min-width:768px) {
    #get-to-know {
        padding-bottom: 0;
        position: relative;
        z-index: 5;
        margin-bottom: -48px
    }

    #get-to-know .introduction-wrapper {
        max-width: 460px
    }

    #get-to-know .introduction-wrapper .heading {
        font-size: 3rem;
        line-height: 1.085;
        font-weight: 600
    }

    #get-to-know .introduction-wrapper .subheading {
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 400
    }

    #get-to-know .images-wrapper {
        flex-direction: row;
        justify-content: space-between
    }

    #get-to-know .images-wrapper .image-wrapper:nth-of-type(1) {
        width: 37.7%;
        max-width: 386px;
        position: relative;
        left: -48px
    }

    #get-to-know .images-wrapper .image-wrapper:nth-of-type(2) {
        width: 56%;
        max-width: 595px;
        left: auto;
        right: -48px
    }

    #get-to-know .painted-reviews {
        margin-bottom: 2rem;
        justify-content: space-around;
        height: 526px
    }
}

@media(min-width:1024px) {
    #get-to-know .images-wrapper .image-wrapper:nth-of-type(1) {
        max-width: 386px;
        position: relative;
        left: -48px
    }

    #get-to-know .images-wrapper .image-wrapper:nth-of-type(2) {
        width: 595px;
        max-width: 595px;
        left: auto;
        right: -48px
    }

    #get-to-know .painted-reviews {
        height: 532px
    }

    /* #get-to-know .painted-reviews .review .review-text {} */
}

@media(min-width:1280px) {
    #get-to-know .images-wrapper .image-wrapper:nth-of-type(1) {
        width: 540px;
        max-width: 540px;
        left: -100px
    }

    #get-to-know .images-wrapper .image-wrapper:nth-of-type(2) {
        width: 840px;
        max-width: 840px
    }
}












/* community */




#community .text-wrapper {
    color: #717684
}

#community .text-wrapper p {
    margin-bottom: 1.5rem
}

#community .text-wrapper ul li {
    padding-left: 32px;
    margin-bottom: 12px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    background-image: url(https://envoy.com/images/icons/16px/cilantro-40/freckle.svg);
    background-position: left center;
    background-repeat: no-repeat
}

@media(min-width:480px) {
    #community .text-wrapper ul {
        -moz-columns: 2;
        columns: 2
    }
}

@media(min-width:768px) {
    #community:before {
        background-image: url(https://envoy.com/images/jobs/ears-1.svg), url(https://envoy.com/images/jobs/ears-2.svg);
        background-position: left -220px bottom -200px, right -280px top -190px;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 100%, auto 75%
    }

    #community .text-wrapper ul {
        -moz-columns: 1;
        columns: 1
    }

    #community .illustrations {
        display: flex;
        align-items: center
    }
}

@media(min-width:1280px) {
    #community:before {
        background-position: left calc(50vw - 640px - 220px) bottom -270px, right calc(50vw - 740px - 210px) top -170px
    }

    #community .description {
        width: 41.666667%
    }

    #community .illustrations {
        width: 50%
    }

    #community .text-wrapper ul {
        -moz-columns: 2;
        columns: 2
    }
}













/* press  */




#press {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

#press .eyebrow {
    color: #8a8f9e
}

#press .heading {
    color: #3f4450;
    font-size: 2.25rem;
    line-height: 1.125;
    font-weight: 600
}

#press .text-wrapper {
    margin-bottom: 2rem
}

#press .articles-wrapper .article {
    margin-bottom: 1.5rem;
    display: block
}

#press .articles-wrapper .article .logo-image-wrapper {
    margin-bottom: 1.25rem;
    height: 50px;
    display: flex;
    align-items: flex-end
}

#press .articles-wrapper .article .logo-image {
    display: inline-block;
    max-height: 50px;
    width: auto
}

#press .articles-wrapper .article .title {
    color: #3f4450;
    margin-bottom: .75rem;
    display: block;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    transition: color .2s ease-in
}

#press .articles-wrapper .article .date {
    color: #3f4450;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    transition: color .2s ease-in
}

#press .articles-wrapper .article:hover .title,
#press .articles-wrapper .article:hover .date {
    color: #fb4338
}

@media(min-width:768px) {
    #press {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    #press .heading {
        font-size: 3rem;
        line-height: 1.085;
        font-weight: 600
    }

    #press .articles-wrapper {
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        justify-content: space-between
    }

    #press .articles-wrapper .article {
        width: 33.333333%;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media(min-width:1024px) {
    #press {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}







/* perks */


#perks {
    padding-bottom: 5rem;
    background-image: url(https://envoy.com/images/jobs/perks-mobile.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 80px
}

#perks h2 {
    margin-bottom: 2.5rem
}

#perks .text-wrapper * {
    color: #3f4450
}

@media(max-width:767px) {
    .features-with-icons-list {
        display: flex;
        margin-left: -.5rem;
        margin-right: -.5rem;
        flex-wrap: wrap
    }

    .features-with-icons-list .feature-with-icon {
        width: 50%;
        padding-left: .5rem;
        padding-right: .5rem
    }
}

@media(min-width:768px) {
    #perks {
        padding-top: 5rem;
        padding-bottom: 7rem;
        background-image: url(https://envoy.com/images/jobs/perks-desktop.svg);
        background-size: 98% auto
    }
}

@media(min-width:1280px) {
    #perks {
        background-size: auto 120px
    }
}












/* opening */

#openings {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

#openings .heading {
    margin-bottom: 1.5rem;
    color: #3f4450;
    font-size: 2.25rem;
    line-height: 1.125;
    font-weight: 600;
    text-align: center
}

#openings #jobs-wrapper .envoy-department {
    margin-bottom: 3rem
}

#openings #jobs-wrapper .envoy-department h3.name {
    color: #4141a2;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600
}

#openings #jobs-wrapper .envoy-department .more-link {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: underline
}

#openings #jobs-wrapper .envoy-department .more-link.hidden {
    display: none
}

#openings #jobs-wrapper .job-listing {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-width: 1px;
    border-color: #ebebf0;
    padding-right: 1.5rem;
    display: block;
    background-image: url(https://envoy.com/images/icons/16px/carbon-20/carot-right.svg);
    background-size: auto 22px;
    background-repeat: no-repeat;
    background-position: right center;
    transition: all .2s ease-in
}

#openings #jobs-wrapper .job-listing:last-child {
    border-bottom-width: 1px
}

#openings #jobs-wrapper .job-listing .title {
    color: #5c6270;
    font-weight: 400;
    display: block;
    font-size: 18px;
    line-height: 27px;
    transition: all .2s ease-in
}

#openings #jobs-wrapper .job-listing .location {
    color: #5c6270;
    font-weight: 400;
    display: block;
    font-size: 16px;
    line-height: 24px;
    transition: all .2s ease-in
}

#openings #jobs-wrapper .job-listing:hover {
    background-image: url(https://envoy.com/images/icons/16px/red-40/carot-right.svg)
}

#openings #jobs-wrapper .job-listing:hover .title {
    color: #fb4338
}

#openings #jobs-wrapper .job-listing:hover .location {
    color: #fb4338
}

#openings .filters-wrapper {
    margin-bottom: 2.5rem
}

#openings .filters-wrapper label {
    color: #717684;
    font-size: 14px;
    display: block;
    margin-bottom: .5rem
}

#openings .filters-wrapper .filter-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 227px
}

#openings .filters-wrapper .filter-select {
    border-width: 1px;
    border-color: #ebebf0;
    border-radius: .25rem;
    color: #3f4450;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(https://envoy.com/images/jobs/select-caret.svg);
    background-position: right 8px center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 16px
}

#openings .filters-wrapper .filter-select:hover {
    color: #fb4338;
    background-image: url(https://envoy.com/images/jobs/select-caret-red.svg)
}

@media(min-width:768px) {
    #openings {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    #openings .heading {
        font-size: 3rem;
        line-height: 1.085;
        font-weight: 600
    }

    #openings #jobs-wrapper {
        margin-left: -1rem;
        margin-right: -1rem
    }

    #openings .filters-wrapper {
        display: flex;
        justify-content: center
    }

    #openings .filters-wrapper .filter-wrapper {
        margin-left: 24px;
        margin-right: 24px
    }
}










/* come all */



#come-all .description p {
    color: #717684
}

#come-all .description {
    margin-bottom: 0
}

#come-all .container>.pb-12 {
    padding-bottom: 1rem
}

@media(min-width:768px) {
    #come-all {
        background-image: url(https://envoy.com/images/section-backgrounds/circles-white.svg);
        background-position: right calc(-204px + 204 * (100vw/256 - 768px/256)) center;
        background-repeat: no-repeat;
        background-size: auto 110%
    }
}

@media(min-width:1024px) {
    #come-all {
        background-position: right calc(-138px + 138 * (100vw/256 - 1024px/256)) center
    }

    #come-all .description {
        width: 50%
    }

    #come-all .illustrations {
        width: 50%
    }
}

@media(min-width:1280px) {
    #come-all {
        background-position: right calc(50vw - 640px - 24px) center
    }
}






@media(min-width:768px) {
    .feature-section .e-h2 {
        margin-bottom: .5rem
    }
}

@media(max-width:767px) {
    footer.pb-12 {
        padding-top: 0;
        padding-bottom: 0
    }
}