* {
    font-family: sans-serif;
}
#shopify-section-header {
    /* border: 1px solid black; */
    height: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;

}
#shopify-section-header > #logo > img {
    width: 120px;
    padding: 5px;
    
}
#logo {
    display:flex;
    width: 8%;
    justify-content: space-between;
    height:40px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 3px solid #E9EAF2;
    padding-right: 40px;
  
   
    
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}

#logo > a {
    margin-left: 60px;
    margin-top: 12px;
    text-decoration: none; 
}

#logo > a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#logo > a:hover {
    color: red;
}
#cart {
    padding: 15px;
    /* margin-left: 1500px; */
}
#cart > a:hover {
    color: red;
}

#site-wrapper {
    
    /* border: 1px solid teal; */
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    margin-top: 150px;
}

#bar { 
    /* border-radius: 1px solid black; */
    height: 200px;
    width: 30%;
    margin-left: -15px;
    
}  

#bar > ul > h4 {
    color: black;
    font-size: x-large;
    font-weight:0;
} 
#bar > ul > a{ 
    color: #938391;
    font-size: medium;
    text-decoration: none;
}

#bar > ul > a:hover{
    color: red;
}

#resImage {
    width: 70%;
    padding: 10px;
}
#tableHeader {
    margin: 0px;

}

#tableHeader > th {
    margin: 40px;
}
#totalPrice {
    display: flex;
}
#checkOut {
    padding: 20px;
    width: 100px;
    background-color: #FB6960;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 700px;
    
}
#checkOut:hover {
    background-color: #e43a31;
}

#totalPrice {
    margin-left: 650px;

}
#Sub {
    font-size: 25px;
    color: #3F4450;
    font-weight: bolder;
}
#total {
    font-size: 25px;
    color: #3F4450;
}
#remove {
    background-color: #FFFFFF;
    color:#5d616a;
    border: none;
}
#remove:hover {
    color: red;
}

tr td {
    padding: 15px;
}
