#home-page-top {
    background: url("https://envoy.com/images/home/homepage-hero-m.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: -30px; */
    height: 805.48px;
    margin-left: -360px;
    /* height: auto; */
    /* width: 150vw; */
    /* margin: auto; */
    position: relative;
    
}

#home-page-top-inner {
    width: 40vw;
    margin: auto;
    /* margin-top: 15px; */
}

#home-page-top-form {
    background-color: white;
    padding: 20px;
    margin-left: -10px;
    /* padding: 30px; */
}

#home-page-top-form-description {
    color: grey;
    font-weight: 400;
    font-size: 18px;
}

#home-page-top-form-title {
    font-size: 3rem;
    color: #3f4450;
    font-weight: 500;
    line-height: 3.375rem;
}

#home-page-form-input {
    display: flex;
}

#home-email {
    font-size: 17px;
    padding: 5px 10px;
    /* width: 200px; */
    border: none;
    border: 2px solid grey;
    border-radius: 8px;
}

#home-page-form-get-start {
    color: white;
    background-color: #FF4949;
    border: none;
    padding: 10px 18px;
    /* margin-top: 7px; */
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
    margin-left: 20px;
}





/* home  */


#home-page-top-form-para {
    /* text-align: center; */
    color: grey;
}

#home-page-top-form-span>a {
    color: crimson;
    text-decoration: none;
}

#home-page-section-second {
    background-color: #b5e0ec;
    height: 420px;
    background-image: url("../img/banner-image-xl.png");
    /* margin-left: 0; */
    background-size: cover;
    background-position-x: calc( 50vw - 442px );
}

#home-page-second {
    display: flex;
    justify-content: space-between;
}

#home-second-inner-desc {
    height: 100%;
}

#home-second-inner-form {
    width: 80%;
    margin: auto;
    /* margin-left: 150px; */
    margin-top: 60px;
    padding-bottom: 80px;
    margin-right: 0px;
    /* margin-right: -100px; */
}

#home-page-second-inner-img {
    width: 100%;
    /* height: 420px; */
    /* margin-left: -500px; */
    /* padding-left: 0px; */
    /* background-image: url("/envoy-clone-project/banner-image-xl.png"); */
    /* background-size: cover; */
}

#home-second-inner-form-heading {
    font-size: 45px;
    font-weight: bolder;
    color: rgb(45, 45, 176);
}

#home-second-inner-desc-para {
    color: rgb(45, 45, 176);
    ;
    font-weight: 500;
    font-size: 18px;
}

#home-second-inner-desc-button {
    color: white;
    background-color: rgb(45, 45, 176);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
}

#home-second-inner-desc-button:hover {
    background-color: rgb(3, 3, 171);
    ;
}

#home-page-section-third-products {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 90px 0px;
    gap: 30px;
    margin: auto;
}

.home-page-section-third-icon {
    width: 48px;
    height: 48px;
}

.home-page-section-third-image {
    display: flex;
    align-items: center;
}

.home-sections-third-heading-three {
    margin-left: 20px;
}

.home-bold-font {
    text-decoration: none;
    color: crimson;
}

.home-bold-font:hover {
    color: brown;
}

#span-border {
    margin: 0px 8px;
    color: grey;
}

#home-page-third-sub-heading {
    font-size: 35px;
    margin-top: 10px;
}

#home-page-forth-video {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-image: url("https://envoy.com/images/home/lionsgate-interstitial.jpg");
    background-size: cover;
}

#home-page-forth-heading {
    width: 60vw;
    padding-top: 110px;
    margin: auto;
    text-align: center;
}

#home-page-forth-heading>a {
    text-decoration: none;
    color: #fff;
}

#home-page-heading-h2 {
    font-size: 45px;
}

#home-page-fifth-div1 {
    width: 100%;
    /* height: 520px; */
    background-image: url("https://envoy.com/images/section-backgrounds/squiggles.svg");
    background-size: cover;
}

#home-page-fifth-div2 {
    width: 35%;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}

#home-page-fifth-div2-heading {
    font-size: 48px;
    color: rgb(45, 45, 176);
}

#home-page-fifth-div2-para {
    font-size: 18px;
    font-weight: 500;
    color: grey;
}

#home-page-fifth-div2-btn {
    color: white;
    background-color: rgb(45, 45, 176);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
}

#home-page-section-sixth-div1 {
    width: 80%;
    margin: auto;
    /* padding-bottom: 100px; */
}

#home-page-sixth-div2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.home-page-sixth-sub-div2-img {
    width: 100%;
    border-radius: 8px;
}

#home-page-section-sixth-heading3 {
    text-transform: uppercase;
    color: grey;
    letter-spacing: 4px;
    font-weight: 700;
}

#home-page-section-sixth-heading1 {
    max-width: 500px;
    font-size: 45px;
}

.home-page-sixth-anchor {
    text-decoration: none;
    color: black;
}

.home-page-sixth-sub-div2-img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-page-section-sixth-sub-siv-h2:hover {
    color: crimson;
}

.home-page-sixth-para {
    color: grey;
}

#home-page-section-seven {
    background-color: #fa4338;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.home-section-seven-container-span {
    color: crimson;
}

.home-section-seven-container-span:hover {
    color: brown;
}

.home-page-section-seven-container {
    width: 90vw;
    margin: auto;
    /* padding-top: 5rem; */
    padding-bottom: 5rem;
    border-bottom: 1px solid rgb(251, 173, 173);
}

.home-page-section-seven-container-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.home-page-section-seven-container-top-right {
    display: flex;
    padding-left: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(251, 173, 173);
}

.home-page-section-seven-container-top-left {
    /* padding-right: 32px; */
    border-bottom: 1px solid rgb(251, 173, 173);
}

#home-page-section-seven-container-top-right-sub-div1 {
    align-self: center;
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 7px;
}

.home-page-section-seven-container-top-right-sub-div2 {
    background-color: white;
    /* margin-left: 15px; */
    margin: 10px;
    padding: 25px;
    border-radius: 7px;
}

.home-page-section-seven-container-top-right-img {
    width: 50px;
}

#home-page-section-seven-container-top-left-heading1 {
    font-size: 70px;
    width: 100%;
    color: rgb(251, 173, 173);
}

#home-seventh-top-right-div2 {
    margin-top: 20px;
}

#home-page-section-seven-container-top-left-heading3 {
    font-size: 24px;
    font-weight: 480;
    color: rgb(251, 173, 173);
    margin-top: -30px;
}

#read-all-stories {
    color: white;
    background-color: rgb(45, 45, 176);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
    margin-top: 30px;
}

.home-seventh-top-right-div2-anchor {
    text-decoration: none;
    color: black;
}

#home-page-section-eight {
    /* width: 90%; */
    background-image: url("https://envoy.com/images/section-backgrounds/freckles.svg");
    background-size: contain;
    background-color: rgb(244, 242, 242);
}

#home-page-section-eight-container {
    width: 82vw;
    margin: auto;
}

#home-page-section-eight-sub-container1 {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#home-page-eight-sub-container-h1 {
    font-size: 48px;
}

#Explore-integrations {
    color: white;
    background-color: #FF4949;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
}

#Build-your-own {
    color: #FF4949;
    background-color: white;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
}

#home-page-section-eight-sub-container1-sub-div {
    margin-top: 40px;
}

#home-page-section-eight-sub-container2 {
    margin-top: 70px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.home-page-section-eight-sub-container3 {
    padding: 25px;
    background-color: white;
    border-radius: 9px;
}

.home-page-section-eight-sub-container3:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.home-page-section-eight-sub-container3-h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.home-page-section-eight-sub-container3-img {
    width: 40px;
}

.home-page-section-eight-sub-anchor {
    text-decoration: none;
    color: rgb(26, 25, 25);
}

.home-page-section-seven-container-down>img {
    width: 80vw;
}

/* @media (max-width: 1050px){
    .home-page-section-seven-container-down > img{
        width: 10em;
    }
} */






@media (max-width: 1310px) and (min-width: 1024px){
    #home-second-inner-desc-para{
        width: 36vw;
    }
}




/* laptop */



@media (max-width: 1024px) {
    #home-page-fifth-div2 {
        height: auto;
        padding: auto;
    }
    #home-page-section-second {
        background-color: #b5e0ec;
        padding-bottom: 50vw;
        background-image: url(https://envoy.com/images/home/banner-image-tablet.svg);
        background-position: bottom center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    #home-second-inner-form-heading{
        font-size: 35px;
    }

    #home-page-second {
        /* display: block; */
    }

    #home-second-inner-form {
        /* margin-top: 30px; */
        /* width: 50%; */
        margin-left: 50px;
        /* margin-top: 100px; */
        /* margin-right: -100px; */
        /* padding-top: 40px; */
    }

    #home-page-second-inner-img {
        width: auto;
        height: 420px;
        margin-left: 0px;
        padding-left: 0px;
        background-image: url(https://envoy.com/images/home/banner-image-xl.svg);
        background-size: cover;
    }
}




/* tablet  */



@media screen and (max-width: 768px) {
    #home-page-second-inner-img{
        display: none;
    }

    #home-page-fifth-div2{
        width: 80%;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    #home-page-section-second {
        padding-bottom: 45vw;
    }


    #home-page-third-sub-heading{
        font-size: 25px;
    }
    .home-page-section-seven-container-top-left{
        text-align: center;
        margin: 5px;
        padding-bottom: 30px;
        border-bottom: 0px;
    }
    #home-page-forth-heading{
        width: 90vw;
        padding-top: 25px;
    }
    #home-page-heading-h2{
        font-size: 35px;
    }

    #home-page-fifth-div2-heading{
        font-size: 30px;
    }




    #home-page-section-seven-container-top-left-heading1{
        font-size: 2.25rem;
    }
    #home-page-section-seven-container-top-left-heading3{
        font-size: medium;
        margin: 5px;
    }


    #home-page-eight-sub-container-h1 {
        font-size: 25px;
    }
    #home-page-section-eight-container {
        width: 95vw;
    }
    #home-page-section-eight-sub-container1{
        width: 90vw;
    }

    #home-page-section-third-products {
        /* width: 60%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
        row-gap: 35px;
    }
    #home-page-section-eight-sub-container2 {
        margin-top: 70px;
        padding-bottom: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .home-page-section-seven-container-top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    #home-page-sixth-div2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    footer>div {
        display: flex;
        margin-right: 5px;
    }
    .footer-form-div-btn{
        margin: 20px auto;
    }
    #home-page-top{
        display: none;
    }
}







/* mobile  */


@media screen and (max-width: 426px) {


    #home-page-section-third-products {
        /* width: 60%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 35px;
        row-gap: 35px;
    }
    /* #home-page-top{
        display: none;
    } */
    /* .home-page-section-seven-container-top-right {
        display: block;
        padding-left: 10px;
        padding-bottom: 50px;
        align-self: center;
        background-color: white;
        margin-right: 15px;
        padding: 25px;
        border-radius: 7px;
        margin: 15px;
        border-bottom: 1px solid rgb(251, 173, 173);
    } */
    #home-page-sixth-div2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    #home-page-section-third-products {
        /* width: 60%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 35px;
        row-gap: 35px;
    }
    #home-page-section-eight-sub-container2 {
        margin-top: 70px;
        padding-bottom: 90px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .home-page-section-seven-container-top-right {
        display: block;
        margin: auto;
        width: 90vw;
        margin-left: -30px;
        /* padding-left: 10px; */
        /* padding-bottom: 50px; */
        border-bottom: 1px solid rgb(251, 173, 173);
    }
}