body {
    margin: 0;
    font-family: SofiaPro, helvetica neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

#home-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#home-navbar-icon {
    width: 60%;
}

#home-navbar-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 1px black;
}

#home-navbar-div1 {
    padding: 10px 8px;
}

#home-navbar-div2>div {
    margin-left: 35px;
    margin-bottom: 16px;
}


#home-navbar-div2>#navbar-hiring {
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    padding: 5px 12px;
    text-align: center;
    white-space: nowrap;
}

#home-navbar-div2>div {
    margin-left: 35px;
}

.navbar-anchor {
    font-size: 17px;
    text-decoration: none;
    color: black;
}


#navbar-login {
    font-weight: bolder;
    white-space: nowrap;
}

#navbar-get-started>a {
    color: white;
    background-color: #FF4949;
    padding: 10px 18px;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
    white-space: nowrap;
}

#navbar-get-started>a:hover {
    background-color: #ff2e2e;
    color: white;
}


.navbar-anchor:hover {
    color: crimson;
}

.drop-hower-div {
    position: relative;
    display: inline-block;
}

.drop-down-div-content-parent {
    animation-name: menubarOpen;
    animation-duration: 800ms;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

@keyframes menubarOpen {
    from {
        left: -50px;
    }

    to {
        left: 0px;
    }
}


.drop-down-div-content-parent {
    display: none;
    position: absolute;
    z-index: 10;
    /* border: 1px solid red; */
    margin-left: -150px;
}

.drop-down-div-content {
    width: 450px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 1) 0px 2px 8px 0px;
    background-color: #fff;
}

.drop-down-div-content-parent>.drop-down-div-content .drop--content-text {
    /* align-items: center; */
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}

#navbar-solutions>.drop-down-div-content-parent>.drop-down-div-content {
    width: 250px;
}

#navbar-resources>.drop-down-div-content-parent>.drop-down-div-content {
    width: 270px;
}

#navbar-pricing>.drop-down-div-content-parent>.drop-down-div-content {
    width: 270px;
}

.drop-hower-div:hover>.drop-down-div-content-parent {
    display: block;
}

.drop-down-div-content-parent a:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.drop-hower-div:hover>.drop-down-div-content-parent>.drop-down-div-content>a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.drop-down-div-content>a {
    display: flex;
}

.drop-down-div-content>a>div {
    /* margin-top: -20px; */
    margin-left: 5px;
}

.drop-down-div-content a>div>div:first-child {
    /* font-weight: 900; */
    font-weight: 600;
    color: #3f4450;
}

.drop-down-div-content a>div>div:last-child {
    font-size: 15px;
}




/* footer  */


.footer-container {
    color: black;
    display: flex;
}

#heading {
    font-family: SofiaPro, helvetica neue, Helvetica, Arial, sans-serif;
    width: 85%;
    margin: auto;
}

footer>div {
    display: flex;
    margin-right: 60px;
}

li {
    margin: 10px;
    margin-left: 0px;
    list-style: none;
    color: grey;
}

.footer-form-div-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}

#contact {
    display: flex;
    align-items: center;
}

.footer-form-div-h2 {
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
    color: red;


}

li:hover {
    color: red;
    cursor: pointer;
}

#contact span {
    color: red;
}

.footer-form-div-p {
    font-size: 1.125rem;

}

hr {
    color: grey;
}

.footer-form-div-btn {
    color: white;
    background-color: red;
    border: none;
    font-size: medium;
    padding: 1px 1rem 0 !important;
    border-radius: 0.5vh;
    font-size: 1rem;
    min-height: 2.75em;
    font-weight: bold;
}

.footer-form-div-inp {
    color: #81848d;
    font-size: 1rem;
    min-height: 2.75em;
    padding: 1px 1rem 0 !important;
    vertical-align: middle;
    background: #f6f6f9;
    border-radius: 6px !important;
    font-weight: 400;

    border: 2px solid #e9eaf2 !important;
}

#shopify-section {
    margin-top: 10px;
    background-color: #F6F6F9;
    display: flex;
    justify-content: space-between;
    padding: 5px 8em;
}

.anchor {
    display: flex;
    justify-content: space-evenly;
}

.anchor>a {
    text-decoration: none;
    font-size: 15px;
    color: #81848d;
    margin: 10px 30px;
    /* padding: 10px; */
    margin-left: 0;
    padding-left: 0;
}

.anchor>a:hover {
    color: red;
}

.icons {
    /* border: 1px solid black; */
    display: flex;
}

.icons a {
    /* margin: 5px 5px; */
    padding: 10px 5px;
}

i {
    color: #81848d;

}

i:hover {
    color: #cbcfd7;
}

@media (max-width: 550px){
    .footer-container, #shopify-section{
        display: none;
    }
    .footer-form-div-upper{
        display: block;
    }

}



/* footer end  */


@media screen and (min-width: 930px) and (max-width: 1024px) {
    #home-navbar-div2>#navbar-hiring {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 930px) {
    #home-navbar-div2>#navbar-hiring {
        display: none;
    }

    #home-navbar-div2 :nth-child(5),
    #home-navbar-div2 :nth-child(6) {
        display: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    #home-navbar-div2>#navbar-hiring {
        display: none;
    }

    #home-navbar-div2 :nth-child(2),
    #home-navbar-div2 :nth-child(3),
    #home-navbar-div2 :nth-child(4),
    #home-navbar-div2 :nth-child(5),
    #home-navbar-div2 :nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #home-navbar-div2>#navbar-hiring {
        display: none;
    }

    #home-navbar-div2 :nth-child(2),
    #home-navbar-div2 :nth-child(3),
    #home-navbar-div2 :nth-child(4),
    #home-navbar-div2 :nth-child(5),
    #home-navbar-div2 :nth-child(6) {
        display: none;
    }
}

/* @media screen and (min-width: 40px) and (max-width: 200px) {
    #home-navbar-div2 {
        display: none;
    }
} */