body{
    font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}


#home-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#home-navbar-icon{
    width: 60%;
}
#home-navbar-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 1px black;
}

#home-navbar-div1 {
    padding: 10px 8px;
}
#home-navbar-div2 > div{
    margin-left:35px;
    margin-bottom: 16px;
}


#home-navbar-div2 > #navbar-hiring{
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    padding: 5px 12px;
    text-align: center;
}

#home-navbar-div2 > div{
    margin-left:35px;
}

.navbar-anchor{
    font-size: 17px;
    text-decoration: none;
    color: black;
}


#navbar-login{
    font-weight: bolder;
}

#navbar-get-started > a{
    color: white;
    background-color:#FF4949;
    padding :  10px 18px;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
}

#navbar-get-started > a:hover{
    background-color: #ff2e2e;
    color: white;
}
.navbar-anchor:hover{
    color: crimson;
}

#home-page-top{
    width: 100%;
    height: 750px;
    background-image: url("https://envoy.com/images/home/homepage-hero-m.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page-top-inner{
    width: 35%;
    margin-left: 430px;
    margin-top: 45px;
}

#home-page-top-form{
    background-color: white;
    padding: 10px 50px 10px 50px;
}

#home-page-top-form-description{
    color: grey;
    font-weight: 500;
    font-size: 18px;
}

#home-page-top-form-title{
    font-size: 45px;
}

#home-page-form-input{
    display: flex;
}

#home-email{
    font-size: 17px;
    padding: 5px 10px;
    width: 200px;
    border: none;
    border: 2px solid grey;
     border-radius: 8px;
}

#home-page-form-get-start{
    color: white;
    background-color:#FF4949;
    border: none;
    padding :  10px 18px;
    /* margin-top: 7px; */
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
    margin-left: 20px;
}






/* hover bala yha se hai */

.drop-hower-div{
    position: relative;
    display: inline-block;
}

.drop-down-div-content{
    display: none;
    position: absolute;
    /* z-index: 10; */
    width: 400px;
    box-shadow: rgba(99, 99, 99, 1) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    /* margin-top: 15px; */
    margin-left: -150px;
}

.drop-hower-div:hover .drop-down-div-content{
    display: block;
}
.drop-down-div-content > a:hover{
    background-color: #efefef;
    border-radius: 6px;
}

.drop-hower-div:hover > .drop-down-div-content >a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.drop-down-div-content a {
    display: flex;
}
.drop-down-div-content a div{
    /* margin-top: -20px; */
    margin-left: 5px;
}
.drop-down-div-content a > div > div:first-child {
    /* font-weight: 900; */
    font-weight: 600;
    color: #3f4450;
}
.drop-down-div-content a > div > div:last-child{
    font-size: 15px;
}






/* home  */


#home-page-top-form-para{
    text-align: center;
    color:grey;
}

#home-page-top-form-span > a{
    color: crimson;
    text-decoration: none;
}

#home-page-section-second{
    background-color:  #b5e0ec;
    height: 420px;
}

#home-page-second{
    display: flex;
    justify-content: space-between;
}

#home-second-inner-desc{
    height: 100%;
}

#home-second-inner-form{
    width: 55%;
    margin-left: 150px;
    margin-top: 100px;
    margin-right: -100px;
}

#home-page-second-inner-img{
    width: 100%;
    height: 420px;
    margin-left: -500px;
    padding-left: 0px;
    background-image: url("/envoy-clone-project/banner-image-xl.png");
    background-size: cover;
}

#home-second-inner-form-heading{
    font-size: 45px;
    font-weight: bolder;
    color: rgb(45, 45, 176);
}

#home-second-inner-desc-para{
    color: rgb(45, 45, 176);;
    font-weight: 500;
    font-size: 18px;
}

#home-second-inner-desc-button{
    color: white;
    background-color:rgb(45, 45, 176);
    border: none;
    padding :  10px 18px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 17px;
}

#home-second-inner-desc-button:hover{
    background-color: rgb(3, 3, 171);;
}

#home-page-section-third-products{
    width:60%;
    margin-left: 200px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 120px 0px;
    column-gap: 10px;
    row-gap: 10px;
}

.home-page-section-third-icon{
    width: 48px;
    height: 48px;
}

.home-page-section-third-image{
    display: flex;
    align-items: center;
}

.home-sections-third-heading-three{
    margin-left: 20px;
}

.home-bold-font{
    text-decoration: none;
    color: crimson;
}

.home-bold-font:hover{
    color: brown;
}

#span-border{
    margin: 0px 8px;
    color: grey;
}

#home-page-third-sub-heading{
    font-size: 45px;
    margin-top: 10px;
}