body{
    font-family: SofiaPro,helvetica neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

#home-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#home-navbar-icon{
    width: 60%;
}
#home-navbar-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 1px black;
}

#home-navbar-div1 {
    padding: 10px 8px;
}
#home-navbar-div2 > div{
    margin-left:35px;
    margin-bottom: 16px;
}


#home-navbar-div2 > #navbar-hiring{
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    padding: 5px 12px;
    text-align: center;
}

#home-navbar-div2 > div{
    margin-left:35px;
}

.navbar-anchor{
    font-size: 17px;
    text-decoration: none;
    color: black;
}


#navbar-login{
    font-weight: bolder;
}

#navbar-get-started > a{
    color: white;
    background-color:#FF4949;
    padding :  10px 18px;
    margin-top: 7px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
}

#navbar-get-started > a:hover{
    background-color: #ff2e2e;
    color: white;
}


.navbar-anchor:hover{
    color: crimson;
}

.drop-hower-div{
    position: relative;
    display: inline-block;
}

.drop-down-div-content-parent{
    animation-name: menubarOpen;
    animation-duration: 800ms;
    /* animation-timing-function:linear; */
    /* position: absolute; */
    /* left: 0px; */
    /* transition-duration: 500ms;
    transition: 0.5s; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
@keyframes menubarOpen {
    from{
        left: -50px;
    }
    to{
        left: 0px;
    }
}





/* .drop-down-div-content-parent */
/* .drop-down-div-content */

.drop-down-div-content-parent{
    display: none;
    position: absolute;
    z-index: 10;
    /* border: 1px solid red; */
    margin-left: -150px;
}
.drop-down-div-content{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 1) 0px 2px 8px 0px;
    background-color: #fff;
}

.drop-hower-div:hover > .drop-down-div-content-parent{
    display: block;
}
.drop-down-div-content-parent a:hover{
    background-color: #efefef;
    border-radius: 6px;
}

.drop-hower-div:hover > .drop-down-div-content-parent> .drop-down-div-content >a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.drop-down-div-content >a {
    display: flex;
}
.drop-down-div-content > a >div{
    /* margin-top: -20px; */
    margin-left: 5px;
}
.drop-down-div-content a > div > div:first-child {
    /* font-weight: 900; */
    font-weight: 600;
    color: #3f4450;
}
.drop-down-div-content a > div > div:last-child{
    font-size: 15px;
}




/* footer  */

.footer-container {
    color: black;
    display: flex;
    font-style: normal;
}

#heading {
    /* border: 2px solid red; */
    height: 600px;
    padding-left: 140px;
    font-style: normal;
}

footer > div {
    display: flex;
    margin-right: 40px;
}

footer li {
    margin: 10px;
    margin-left: 0px;
    list-style: none;
}
.footer-form-div-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
#shopify-section{
    margin-top: 10px;
    width: 100%;
    background-color: #F6F6F9;
    display: flex;
    justify-content: space-around;
}

.anchor {
    display: flex;
    justify-content: space-evenly;
}

.anchor>a {
    text-decoration: none;
    font-size: 17px;
    color: #81848d;
    margin: 15px;
    padding: 10px;
    margin-left: 0;
    padding-left: 0;
}

.anchor>a:hover {
    color: red;
}

.icons {
    display: flex;
}
.icons a{
    margin: 15px 5px;
    padding: 10px 5px;
}

i {
    color: #81848d;

}

i:hover {
    color: #cbcfd7;
}